* {
    margin: 15px;
}

header nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: deeppink;
    padding: 5px;
    border-radius: 5px;
    font-size: x-large;
}

header a {
    text-decoration: none;
    color: white;
}

header ul{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 15px;
}

.title {
    display: flex;
    justify-content: center;
    margin: 3rem;
}

.kompetancer {
    display:flex;
    justify-content: flex-start;
}

.uddannelse {
    display:flex;
    justify-content: center;
}
.erhvervserfaring {
    display:flex;
    justify-content: flex-end;
}


footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: white;
    background-color: deeppink;
    padding: 5px;
    border-radius: 5px;
    margin-top: 3rem;
}

.contact me {
    display: flex;
    flex-direction: column;
    margin: 15px;
}
